<%- include('../public/header.html') %>
<body>
    <section class="w-100 px-4 py-5 gradient-custom" style="border-radius: .5rem .5rem 0 0;">
        <style>
          .gradient-custom {
  
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgb(20, 0, 203), rgb(120, 110, 50));
  
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgb(20, 0, 203), rgba(120, 110, 50))
          }
        </style>
        
          <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-6">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center" style="border-radius: 1rem; background-color: black;">
    
                  <div class="mb-md-5 mt-md-4 pb-5">
    
                    <h2 class="fw-bold mb-2 text-uppercase">SING UP</h2>
                    <p class="text-white-50 mb-5">Please create your login and password!</p>
                    <form action="/Sing_up" method="post">
                      <div data-mdb-input-init="" class="form-outline form-white mb-4" data-mdb-input-initialized="true">
                        <input autocomplete="off" type="text" id="typeEmailX" name="newUserName" class="form-control form-control-lg" autocomplete="on">
                        <label class="form-label" for="typeEmailX" style="margin-left: 0px;">Username</label>
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 40px;"></div><div class="form-notch-trailing"></div></div></div>
      
                      <div data-mdb-input-init="" class="form-outline form-white mb-4" data-mdb-input-initialized="true">
                        <input type="password" id="typePasswordX" name="newPassword" class="form-control form-control-lg">
                        <label class="form-label" for="typePasswordX" style="margin-left: 0px;">Password</label>
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64px;"></div><div class="form-notch-trailing"></div></div></div>


                      <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-light btn-lg px-5" type="submit" data-mdb-button-initialized="true">Sing Up</button>
                    </form>
                    <div class="d-flex justify-content-center text-center mt-4 pt-1">
                      <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
    
                  </div>
                    
                    <% if (locals.message) { %>
                      <label class="form-label my-5" for="typeEmailX" style="margin-left: 0px; color: red;"><%= message %></label>
                    <% } %>  

                   
    
                  
    
                </div>
              </div>
            </div>
          </div>
       
      </section>
</body>

<%- include('../public/footer.html') %>
